<h1>Editing group entity</h1>

<%= render "form", group_entity: @group_entity %>

<br>

<div>
  <%= link_to "Show this group entity", @group_entity %> |
  <%= link_to "Back to group entities", group_entities_path %>
</div>
