<div class="container-account">
  <div class="flex flex-col items-center mt-44 mb-32 mx-6">
  <h1 class="text-2xl font-bold text-sky-500">Budget</h1>
  <%= image_tag ('all/budget-icon.png'), class: "w-40 mt-10" %>
  </div>
</div>